<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transfer.room.transferboard.mapper.TransferBoardMapper">

    <resultMap id="TransferBoardDetailsMap" type="com.transfer.room.transferboard.dto.TransferBoardDetails">
        <id property="transferBoardId" column="tb_id"/>
        <result property="transfererId" column="transferer_id"/>
        <result property="transfereeId" column="transferee_id"/>
        <result property="transferStatus" column="transfer_status"/>
        <result property="transferTitle" column="tb_title"/>
        <result property="transferContent" column="tb_content"/>
        <result property="transferCreateTime" column="tb_create_time"/>
        <result property="transferUpdateTime" column="tb_update_time"/>
        <result property="roomLatitude" column="room_latitude"/>
        <result property="roomLongitude" column="room_longitude"/>
        <result property="roomAddress" column="room_address"/>
        <result property="roomFloor" column="room_floor"/>
        <result property="roomType" column="room_type"/>
        <result property="contractType" column="contract_type"/>
        <result property="contractEndTime" column="contract_end_time"/>
        <result property="dongCode" column="dongCode"/>
        <result property="sidoName" column="sidoName"/>
        <result property="gugunName" column="gugunName"/>
        <result property="dongName" column="dongName"/>
        <result property="likeCount" column="like_count"/>
        <result property="approvingStatus" column="approving_status"/>
    </resultMap>

    <select id="selectTransferBoard"
            parameterType="com.transfer.room.transferboard.dto.TransferBoardSearchFilter"
            resultMap="TransferBoardDetailsMap">

        SELECT tb_id, transfer_status, tb_title, tb_content, tb_create_time,
               tb_update_time, room_latitude, room_longitude, room_address,
               room_floor, room_type, contract_type, contract_end_time,
               transferer_id, transferee_id, like_count,
               approving_status, dc.dongCode, sidoName, gugunName, dongName
        , dc.sidoName,dc.gugunName,dc.dongName
        FROM transfer_boards as tb
            JOIN regions as dc ON tb.dongCode = dc.dongCode
            JOIN users transferer ON tb.transferer_id = transferer.user_id
            LEFT OUTER JOIN users transferee ON tb.transferee_id = transferee.user_id
        <if test="myPageStatus == -1">WHERE transfer_status = 1</if>
        <if test="myPageStatus != -1">WHERE transfer_status = 1 or transfer_status = 0</if>
        <if test="approvingStatus != -1"> AND approving_status = #{approvingStatus}</if>
        <if test='userEmail != null and !userEmail.equals("")'>
          AND (transferer.user_email = #{userEmail} OR transferee.user_email = #{userEmail})
        </if>
        <if test="transferBoardId != -1"> AND tb_id = #{transferBoardId}</if>
        <if test='dongCode != null and !dongCode.equals("")'> AND dc.dongCode = #{dongCode}</if>
        <choose>
            <when test='order != null and order.equals("likes")'>
                ORDER BY tb.like_count DESC, tb.tb_create_time DESC
            </when>
            <otherwise> ORDER BY tb.tb_create_time DESC</otherwise>
        </choose>
        <if test="numOfRows != -1"> LIMIT #{numOfRows} </if>
    </select>

    <insert id="insertTransferBoard"
            parameterType="com.transfer.room.transferboard.entity.TransferBoardEntity"
            useGeneratedKeys="true"
            keyProperty="tbId"
            keyColumn="tb_id">
        INSERT INTO transfer_boards(transferer_id,transfer_status
        ,tb_title,tb_content,tb_create_time,tb_update_time
        ,room_latitude,room_longitude, room_address
        ,room_floor,room_type,contract_type,contract_end_time
        ,dongCode, like_count, approving_status)
        VALUE (#{transfererId}, 0
        ,#{tbTitle},#{tbContent},now(),now()
        ,#{roomLatitude},#{roomLongitude},#{roomAddress}
        ,#{roomFloor},#{roomType},#{contractType},#{contractEndTime}
        ,#{dongCode}, 0, 1)
    </insert>

    <update id = "updateTransferBoardTransferee">
        UPDATE transfer_boards
        SET transferee_id = #{transfereeId}
        WHERE tb_id = #{transferBoardId}
    </update>

    <update id = "updateTransferBoardTransferStatus">
        UPDATE transfer_boards
        SET transfer_status = 1
        WHERE tb_id = #{transferBoardId}
    </update>
</mapper>

