header{
  background-color: transparent;
}

header .logo {
  width : 100px;
}

header *{
  color : #ffffff !important;
  z-index: 100;
}

header a{
  text-decoration: none;
}

header a:hover{
  font-weight: bold;
  background-color: transparent !important;
  transition: none;
}

header a:focus{
  background-color: transparent !important;
}

.nav{
  margin-left : 50px;
}

.li-margin > li {
  margin-right: 10px;
}
