header .logo {
  width : 100px;
}

header *{
  z-index: 100;
}

header.color{
  background-color: transparent;
}

header.white{
  background-color: #ffffff;
}

header.color *{
  color : #ffffff !important;
}

header.white *{
  color : #000000 !important;
}

header a{
  text-decoration: none;
}

header a:hover{
  font-weight: bold;
  background-color: transparent !important;
  transition: none;
}

header a:focus{
  background-color: transparent !important;
}

.nav{
  margin-left : 50px;
}

.li-margin > li {
  margin-right: 10px;
}
