<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transfer.room.user.mapper.UserMapper">
    <select id="selectUserByUserId"
            resultType="com.transfer.room.user.dto.UserDto">
        SELECT user_id, user_name, user_email, user_password, user_address
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="selectUserByUserEmail"
            resultType="com.transfer.room.user.dto.UserDto">
        SELECT user_id, user_name, user_email, user_password, user_address
        FROM users
        WHERE user_email = #{userEmail}
    </select>

    <update id="updateUser"
            parameterType="com.transfer.room.user.entity.UserEntity">
        UPDATE users
        SET user_password = #{iserPassword},
            user_address = #{userAddress},
            user_update_time = now(),
        WHERE user_id = #{userId}
    </update>

    <insert id = "insertUser"
            parameterType="com.transfer.room.user.entity.UserEntity"
            useGeneratedKeys="true"
            keyColumn="user_id"
            keyProperty="userId">
        INSERT INTO users(user_name, user_email, user_password, user_address,user_create_time,user_update_time)
        VALUES (#{userName}, #{userEmail}, #{userPassword}, #{userAddress},now(),now())
    </insert>

    <select id = "selectUserRoleByUserId"
            resultType="com.transfer.room.user.dto.UserRoleDto">
        SELECT user_roles.user_id, user_roles.role_id, role.role_name
        FROM user_roles JOIN role ON user_roles.role_id = role.role_id
        WHERE user_id = #{userId}
    </select>

    <insert id = "insertUserRole"
            parameterType="com.transfer.room.user.entity.UserRoleEntity">
        INSERT INTO  `user_roles`(role_id, user_id)
        VALUES(#{roleId}, #{userId})
    </insert>

    <delete id = "deleteUserRole"
            parameterType="int">
        DELETE FROM user_roles
        WHERE user_id = #{userId} AND role_id = #{roleId}
    </delete>

    <select id = "selectRoleByRoleName"
            resultType="com.transfer.room.user.dto.UserRoleDto">
        SELECT role_id, role_name
        FROM roles
        WHERE role_name = #{roleName}
    </select>
</mapper>